<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference 
        for="Ranosys\Sales\Api\MyOrdersInterface"
        type="Ranosys\Sales\Model\MyOrders" />
    <preference 
        for="Ranosys\Sales\Api\Data\MyOrdersdataInterface"
        type="Ranosys\Sales\Model\MyOrdersdata" />
    <preference 
        for="Ranosys\Sales\Api\Data\OrderSuccessDetailInterface"
        type="Ranosys\Sales\Model\Data\OrderSuccessDetaildata" />
    
    <preference for="Ranosys\Sales\Api\Data\OrderItemOptionsInterface" type="Ranosys\Sales\Model\Data\OrderItemOptions" />
    
    <virtualType name="orderMetadata" type="Magento\Sales\Model\ResourceModel\Metadata">
        <arguments>
            <argument name="resourceClassName" xsi:type="string">Magento\Sales\Model\ResourceModel\Order</argument>
            <argument name="modelClassName" xsi:type="string">Magento\Sales\Model\Order</argument>
        </arguments>
    </virtualType>
    <type name="Ranosys\Sales\Model\MyOrders">
        <arguments>
            <argument name="metadata" xsi:type="object">orderMetadata</argument>
        </arguments>
    </type>
</config>