<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store: etc/config.xsd">
    <default>
        <ematicjs_options>
            <ematicsolutions_group_adv>
                <ematicsolutions_checkout>
                    <![CDATA[checkout/
multishipping/checkout/]]>
                </ematicsolutions_checkout>
                <ematicsolutions_search>
                    <![CDATA[checkout/sidebar/*
checkout/cart/add/*]]>
                </ematicsolutions_search>
            </ematicsolutions_group_adv>
        </ematicjs_options>
    </default>
</config>