<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <ninja>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Hypework\ShippingNinja\Model\Carrier\Ninja</model>
                <name>NINJA Shipping</name>
                <title>NINJA Shipping</title>
            </ninja>
        </carriers>
    </default>
</config>