<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Quote\Model\ShippingMethodManagement" type="Hypework\ShippingNinja\Model\Quote\ShippingMethodManagement" />
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
      <plugin name="re-sorting-ninja" type="Hypework\ShippingNinja\Ui\Sorting" sortOrder="3" />
    </type>

</config>