<!--@subject {{trans "%subject" subject=$data.subject}} @-->
<p><b>{{trans "Dear %customerName" customerName=$data.customerName}}</b></p>
<p>Thank you for your order at {{trans "Dear %storeName" storeName=$data.storeName}}. Your order will be processed after
    you have completed the payment at ATM or Internet Banking that connected to ATM Bersama, Prima, or ALTO network.</p>
<b>
    <p>YOUR VIRTUAL ACCOUNT NUMBER:</p>
    <p>{{trans "%vaNumber" payCode=$data.vaNumber}}</p>
    <p>TOTAL ORDER AMOUNT:</p>
    <p>{{trans "%amount" amount=$data.amount}}</p>
</b>
<p>How to pay at Alfa Group outlets : </p>
<p></p><br>
<p>Thank you</p>
<p>{{trans "%sender_name" sender_name=$data.sender_name}}</p>
