<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ranosys_Promotion::manager" title="Promotion Manager" module="Ranosys_Promotion"
             sortOrder="10" resource="Ranosys_Promotion::manager"/>
        <add id="Ranosys_Promotion::add_row" title="Promotion Manager" module="Ranosys_Promotion"
             sortOrder="20" parent="Ranosys_Promotion::manager" action="grid/grid" resource="Ranosys_Promotion::manager"/>
    </menu>
</config>
