<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="Hypework" translate="label" sortOrder="100000" class="Hypework-extensions-tab">
            <label>Hypework Extensions</label>
        </tab>
    </system>
</config>
