<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <hypework>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Hypework\Shipping\Model\Carrier\Hypework</model>
                <name>Hypework Shipping</name>
                <title>Hypework Shipping</title>
            </hypework>
        </carriers>
        <hypework_shipping>
            <upload_import>

            </upload_import>
        </hypework_shipping>
    </default>
</config>