<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Ranosys\CatalogSearch\Api\ResultInterface" type="Ranosys\CatalogSearch\Model\Result" />
    <preference for="Ranosys\CatalogSearch\Api\Data\ResultDataInterface" type="Ranosys\CatalogSearch\Model\Data\ResultData" />
</config>