<!--@subject {{trans "%store_name - Product Return Request" store_name=$store.getFrontendName()}} @-->

<div>
	<h1>Product Return</h1>
</div>

<div>
	<table>
		<tr>
			<td>Order ID</td>
			<td>{{var order_id}}</td>
		</tr>
		<tr>
			<td>Customer Name</td>
			<td>{{var name}}</td>
		</tr>
		<tr>
			<td>Customer Email</td>
			<td>{{var email_submitter}}</td>
		</tr>
		<tr>
			<td>Phone</td>
			<td>{{var phone}}</td>
		</tr>
		<tr>
			<td>SKU</td>
			<td>{{var sku}}</td>
		</tr>
		<tr>
			<td>Reason</td>
			<td>{{var reason}}</td>
		</tr>
		<tr>
			<td>Message</td>
			<td>{{var message}}</td>
		</tr>
	</table>
</div>